@charset "utf-8";
/* 头部 */
header{
    width: 100%;
    height: 4px;
    background-color: #F08D18;
}
.head{
    height: 96px;
}
.head .logo img{
    margin-top: 13px;
    margin-bottom: 7px;
}
.head1{
	font-family: MicrosoftYaHei;
    font-size: 12px;
    line-height: 30px;
}
.head1 p{
    float: left;
    margin: 15px 13px;
}   
.head1 span{
    float: left;
    margin-top: 15px;
} 
.head2{
	font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 30px;
}
.head2 h5{
    background:url(../images/dianhua.png)
    no-repeat left center;
    padding-left: 35px;
    margin-bottom: 11px;
}
/* 导航 */
.top{
    width: 100%;
    height: 52px;
    background-color: #4B4A48;
    margin-top: 4px;
}
.top ul li{
    height: 52px;
    font-family: '微软雅黑';
    font-size: 14px;
    font-weight: bold;
    line-height: 52px;
    float: left;
    padding: 0 32px;
    position: relative; 
}
.top ul .TPp1{
    background-color: #F08D18;
}
.top ul li a{
    color: #fff;
}
.top ul li:hover{
    background-color: #F08D18;
}
.JSxiala{
    width: 370px;
    height: 309px;
    border: 2px solid #4B4A48;
    background: #fff;
    position: absolute;
    top: 165px;left: 190px;
}
.JSxiala p{
    width: 179px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 20px;
}
.JSxiala span{
    margin-left: 10px;
}
.JSxiala .JSp1{
    border-left:2px solid #4B4A48;
    border-bottom:2px solid #4B4A48;
    margin-top: -2px;
    background-color: #CCCCCC;
}
.JSxiala ul .JSL1 select{
    width: 182px;
    margin-bottom: 20px;
}
.JSxiala ul .ST1 select{
    width: 104px;
    margin-bottom: 20px;
}
.JSxiala h3{
    width: 132px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #F08D18;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
/* banner图 */
.banner{
    margin-bottom: 31px;
}
.banner img{
   width: 100%;
}
/* 热门车型 */
.RXzong{
    height: 251px;
}
.RX .RMCX{
    width: 810px;
    height: 20px;
}
.RX .RMCX h5{
    font-family: '微软雅黑';
    font-size: 20px;
    color: #EF8D18;
}
.RX .RMCX p a{
    font-family: '微软雅黑';
    font-size: 12px;
    color: black;
}
.RX .RMCX .p2{
    width: 812px;
    height: 2px;
    background: black;
    margin-top: 8px;
}
.RXxia ul li{
    width: 250px;
    height: 166px;
    border: 1px solid #ccc;
    float:left;
    margin-top: 18px;
    margin-right: 31px;
}
.RXxia ul p{
    font-family: '微软雅黑';
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 8px;
}
.TW .TSFW{
    width: 305px;
    height: 20px;
}
.TW .TSFW h5{
    font-family: '微软雅黑';
    font-size: 20px;
    color: #EF8D18;
}
.TW .TSFW p a{
    font-family: '微软雅黑';
    font-size: 12px;
    color: black;
}
.TW .TSFW .p3{
    width: 305px;
    height: 2px;
    background: black;
    margin-top: 8px;
}
.TW .TWxia{
    width: 305px;
}
.TW .TWxia p{
    margin-top: 15px; 
}
.TW .TWxia .TWp1{
    margin: 15px 6px 6px 0;
}
.TW .TWxia .TWp2{
    margin: 6px 0px 6px 0;
}
.TW .TWxia .TWp3{
    margin: 0 5px 0 0;
}
.TW .TWxia .TWp4{
    margin: 0;
}
/* ad流程 */
.ADzong{
    height: 114px;
}
.AD{
    width: 1140px;
    height: 70px;
    border: 1px solid #ccc;
    margin: 22px 0 20px 0;
    font-family: '微软雅黑';
}
.AD .ADp1{
    margin: 15px 10px 15px 92px;
}
.AD .AD1 h6{
    font-size: 18px;
    margin-top: 18px;
    line-height: 24px;
    float: left;
}
.AD .AD1 .ADp2{
    font-size: 12px;
    float: left;
    margin-top: 43px;
    margin-left: -72px;
}
.AD .YJT{
    margin-left: 91px;
}
/* 特惠 */
.TDzong{
    height: 313px;
}
.TD .THHD{
    width: 810px;
    height: 34px;
}
.TD .THHD h5{
    font-family: '微软雅黑';
    font-size: 18px;
    color: #EF8D18;
}
.TD .THHD p a{
    font-family: '微软雅黑';
    font-size: 12px;
    color: black;
}
.TD .THHD .p2{
    width: 812px;
    height: 2px;
    background: black;
    margin-top: 8px;
}
.TD .TDxia{
    width: 812px;
    margin-top: 15px;
    font-family: '微软雅黑'
}
.TD .TDxia ul li{
    margin-right: 28px;
}
.TD .TDxia .TDp1{
    font-size: 12px;
    margin-top: 6px;
}
/* 右 租车 */
.ZS .ZCCS{
    width: 305px;
    height: 34px;
}
.ZS .ZCCS h5{
    font-family: '微软雅黑';
    font-size: 18px;
    color: #EF8D18;
}
.ZS .ZCCS p a{
    font-family: '微软雅黑';
    font-size: 12px;
    color: black;
}
.ZS .ZCCS .p3{
    width: 305px;
    height: 2px;
    background: black;
    margin-top: 8px;
}
.ZS .ZSxia{
    width: 305px;
    margin-top: 18px;
    position: relative;
}
.ZS .ZSxia ul li{
    background: url(../images/ZSjiaobiao.png) no-repeat left center;
    text-align: left;
    line-height: 30px;
}
.ZS .ZSxia ul li a{
    margin-left: 10px;
    color: black;
    font-family: '微软雅黑';
    font-size: 12px;
}
.ZSshuiyin{
    position: absolute;
    right: -10px;bottom: 0;
}
/* 热点链接 */
.RJzong{
    height: 84px;
}
.RJ{
    width: 1140px;
    height: 34px;
    margin-top: 39px;
}
.RJ .RDLJ h5{
    font-family: '微软雅黑';
    font-size: 18px;
    color: #EF8D18;
}
.RJ .RDLJ .p4{
    width: 1140px;
    height: 2px;
    background: black;
    margin-top: 8px;
}
.RJxia ul li{
    font-family: '微软雅黑';
    font-size: 12px;
    float: left;
    margin: 17px;
}
.RJxia ul li a{
    color: black;
}
.RJxia ul span{
    font-family: '微软雅黑';
    font-size: 12px;
    float: left;
    margin: 17px 0;
}
/* 底部 */
footer{
    width: 100%;
    height: 279px;
    background-color: #4B4A48;
}
footer h5{
    width: 100%;
    height: 6px;
    background-color: #F08D18;
}
/* 导航栏 */
.shang{
    height: 137px;
    margin-bottom: 32px;
}
.DHL ul li{
    font-family: '微软雅黑';
    font-size: 16px;
    color:#ccc;
    line-height: 30px;
    float: left;
    margin-right: 100px;
    margin-top: 18px;
}
.DHL ul li .xia{
    margin-top: -5px;
}
.DHL ul li .xia a{
    color:#ccc;
    font-size: 12px;
    font-family: '微软雅黑';
}
/* 二维码 */
.EWM .Dp1{
    margin-top: 33px;
    margin-right: 70px;
}
/* 线 */
h4{
    width: 1140px;
    height: 1px;
    background-color: #ccc;
}
/* 备案 */
.BA{
    height: 12px;
    color:#ccc;
    font-size: 12px;
    font-family: '微软雅黑';
    margin: 24px 0 26px 0;
}
.BA .BAp2{
    margin-right: -60px;
}
/* 线 */
h6{
     border-bottom:1px dashed #F08D18;
}
/* 友情链接 */
.YQLJ p{
    color:#ccc;
    font-size: 12px;
    font-family: '微软雅黑';
    margin-top: 16px;
}